body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px; 
}

header {
    background: linear-gradient(to right, red, orange, yellow, green, #81d4fa, darkblue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background: linear-gradient(to right, red, orange, yellow, green, #81d4fa, darkblue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a {
    color: blue;
    text-decoration: none;
    transition: all 5s;
}    


a:visited {
    color:  red; 
}


a:hover {
    color: yellow;
    text-decoration: underline;
    background-color: blue;
    font-weight: bold;
    box-shadow: 5px 5px 5px blue;
    transition: all 0.3s ease;
}

a:active {
    color: black;
    background-color: white;
}

