body {
    background-color: black;
    color: white;
    font-family: Arial;
    margin: 0px; 
}

header {
    background: linear-gradient( red, orange, yellow, green, #81d4fa, darkblue, purple);
    color: black;
    padding: 20px;
    font-size: 16pt;
}

header:hover{
    color: white;
    background: linear-gradient(white, blue, red);
    font-size: 10pt;
}

header:active{
    color: yellow;
    background: linear-gradient(black, red, yellow);
    font-size: 30pt;
}

footer {
    background: linear-gradient( red, orange, yellow, green, #81d4fa, darkblue, purple);
    color: black;
    padding: 20px;
    font-size: 16pt;
    text-align: right;
}

footer:hover{
    color: white;
    background: linear-gradient(white, blue, red);
    font-size: 10pt;

}

footer:active{
    color: yellow;
    background: linear-gradient(black, red, yellow);
    font-size: 30pt;
}


a {
    color: blue;
    text-decoration: none;
    transition: all 5s;
}    


a:visited {
    color:  red; 
}


a:hover {
    color: yellow;
    text-decoration: underline;
    background-color: blue;
    font-weight: bold;
    box-shadow: 5px 5px 5px blue;
    transition: all 0.3s ease;
}

a:active {
    color: black;
    background-color: white;
}
